<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.lvkaixue.appmeager"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="MeaApp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".utils.AppBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"/>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance"
            android:noHistory="false"/>
        <activity android:name=".activity.WriterInforActivity">
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent222222"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".activity.PersonalActivity"/>
        <activity android:name=".activity.PerProItemActivity">
        </activity>
        <activity android:name=".activity.FansItemActivity"/>
        <activity android:name=".activity.PhotoItemActivity"/>
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true" android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.FriendMeagItemActivity">

        </activity>
        <activity android:name=".activity.DraftActivity">
        </activity>
        <activity android:name=".activity.UpdateActivity"/>
        <activity android:name=".activity.TestActivity">
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
        <activity android:name=".activity.AdjustMentFontSizeActivity">
        </activity>
        <activity android:name=".activity.CollectionActivity">
        </activity>
        <activity android:name=".activity.LookPhotoItemActivity">
        </activity>
        <activity android:name=".activity.ItemDataActivity">

        </activity>
    </application>

</manifest>
